.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 800px) {
    .root svg {
        width: 160px;
        height: 30px;
    }
}

#svg-col{
    fill:brown
}